{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8 user_form_header">
        <h1>{{ form_header }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 user_form_container">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="btn btn-default fill_parent_width">
                        Load image<input class="avatar_button" type="file" id="avatar" name="avatar" accept="image/*" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-default" type="submit">Change my avatar</button>
                </div>
            </div>
            {% if messages.error %}
            <div class="form-group">
                <div class="col-md-12">
                    <div class="alert alert-warning">
                        {{ messages.error }}
                    </div>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}