{% extends "base.html" %}
{% block content %}
    <div class="article_content">
        <h1>License agreement</h1>
        <p class="lead">
            <h2>Denial of responsibility</h2>
            In accordance with the internationally accepted practice software licensing computer principle «As is» - «How is"
            Licensor under no circumstances be liable for any damages, including without limitation cases lost profits or loss of data,
            or other financial losses resulting from the use or inability to use RTank.
            Licensor does not warrant RTank defects, as well as the elimination of defects when found.
            Licensor does not warrant support RTank, including not guarantee RTank updates.
            Technical support can be provided on the basis of additional agreements between you and the Licensor.
        </p>
    </div>
{% endblock %}