{% extends "base.html" %}
{% block content %}
    <form class="form_login" method="post">
        <h2 class="form_login_header">Кто вы?</h2>
        <label for="inputEmail" class="sr-only">Электронная почта</label>
        <input type="email" name="username" id="inputEmail" class="form_control" placeholder="Электронная почта" required autofocus>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" name="password" id="inputPassword" class="form_control" placeholder="Пароль" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
{% endblock %}