{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8 user_form_header">
        <h1>Do you want to take part in our game?</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 user_form_container">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <div class="col-md-12">
                    <input class="form-control-static" id="email" name="email" type="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input class="form-control-static" id="password" name="password" type="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input name="license" type="checkbox">I agreed with <a href="/users/license" target="_blank">license</a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input class="form-control-static" name="captcha" type="text" placeholder="What do you see on the image?">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 captcha_container">
                    <img class="captcha" src="/captcha.jpg" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-default" type="submit">SignUp</button>
                </div>
            </div>
            {% if messages.error %}
            <div class="form-group">
                <div class="col-md-12">
                    <div class="alert alert-warning">
                        {{ messages.error }}
                    </div>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}