{% extends "base.html" %}
{% block head %}
<script>
    window.addEventListener('load', function(){
        var data = document.getElementById('chat_message');
        data.addEventListener('keypress', function(ev){
            var key = ev.which || ev.keyCode;
            var enterCode = 13;
            if (key === enterCode) {
                document.getElementById('chat').contentWindow.chat.send(data.value);
                data.value = "";
            }
        });
    });
</script>
{% endblock %}git
{% block content %}
<div class="page-header">
  <h1>
      Game is coming
      <small>play with us</small>
  </h1>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12 tanks_area_container">
                <canvas id="tanks_area" width="300" height="300">
                    Unfortunately your browser doesn't support this game.
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 common_chat_room">
                <div class="row">
                    <div class="col-md-12 user_form_container centered_text">
                        <h4>Common chat</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="output">
                        <iframe src="/chat" class="chat_frame" id="chat"></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 user_form_container">
                        <input class="form-control-static" type="text" id="chat_message" placeholder="Input text and press Enter">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
