{% extends "base.html" %}
{% block head %}
<script>
    window.addEventListener('load', function(){
        var data = document.getElementById('chat_message');
        data.addEventListener('keypress', function(ev){
            var key = ev.which || ev.keyCode;
            var enterCode = 13;
            if (key === enterCode) {
                document.getElementById('chat').contentWindow.chat.send(data.value);
                data.value = "";
            }
        });
    });
</script>
{% endblock %}
{% block content %}
<div class="page-header">
  <h1>
      Game is coming
      <small>play with us</small>
  </h1>
</div>
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12" id="output">
                <iframe src="/chat" class="chat_frame" id="chat"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 user_form_container"><input class="form-control-static" type="text" id="chat_message" placeholder="Input text and press Enter"></div>
        </div>
    </div>
</div>
{% endblock %}
