body {
    padding-top: 50px;
}

.bb{
    border: 1px solid black;
}

.user_form_container, .user_form_header {
    margin: 0 auto;
    float: none;
}

.user_form_header {
    text-align: center;
}

.user_form_container button, input[type="email"], input[type="password"], input[type="text"]{
    width: 100%;
}

.user_form_group {
    text-align: right;
}

.article_content {
    padding: 40px 15px;
    text-align: center;
}

.captcha_container {
    text-align: center;
}

.captcha {
    height: 80px;
}