body {
    padding-top: 50px;
}

.bb{
    border: 1px solid black;
}

.user_form_container, .user_form_header {
    margin: 0 auto;
    float: none;
}

.user_form_header, .centered_text {
    text-align: center;
}

.profile_menu {
    width: 100%;
    margin-top: 10px;
}

.user_form_container button, input[type="email"], input[type="password"], input[type="text"], input[type="button"]{
    width: 100%;
}

.article_content {
    padding: 40px 15px;
    text-align: center;
}

.captcha {
    height: 30px;
}

.avatar_button {
    display: none !important;
}

.fill_parent_width {
    width: 100%;
}

.avatar {
    width: 200px;
    height: 200px;
}

.media-left img {
    width: 30px;
    height: 30px;
}

.media-body h4 {
    font-size: 1.0em;
    text-decoration: underline;
    font-style: italic;
}


.chat_frame {
    width: 100%;
    border: 0px;
    height: 350px;
}

.chat_body {
    padding: 5px;
    margin: 0px;
    background-color: rgb(90%, 90%, 90%);
}

.chat_message_container {
    padding: 0px;
}

.chat_message {
    background-color: rgb(100%, 100%, 100%);
    padding: 5px;
    width: 100%;
    margin: 0px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.chat_message:last-child {
    margin-bottom: 0px;
}

.common_chat_room {
    background-color: rgb(85%, 85%, 85%);
    padding: 5px;
    border-radius: 5px;
}