body {
    padding-top: 50px;
}

.bb{
    border: 1px solid black;
}

.user_form_container, .user_form_header, .centered_block {
    margin: 0 auto;
    float: none;
}

.user_form_header, .centered_text {
    text-align: center;
}

.profile_menu {
    width: 100%;
    margin-top: 10px;
}

.user_form_container button, input[type="email"], input[type="password"], input[type="text"]{
    width: 100%;
}

.user_form_group {
    text-align: right;
}

.article_content {
    padding: 40px 15px;
    text-align: center;
}

.captcha_container {
    text-align: center;
}

.captcha {
    height: 30px;
}

.avatar_button {
    display: none !important;
}

.fill_parent_width {
    width: 100%;
}

.avatar {
    width: 200px;
    height: 200px;
}